.bigScreen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fce006;
  display: none;
}

@media screen and (min-width: 550px) {
  .bigScreen {
    display: flex;
  }
}

.bigScreen .bigScreen__text {
  font-size: 25px;
  font-weight: 600;
  color: white;
  line-height: 1.5;
}
