.header-wrapper {
  position: fixed;
  top: 0px;
  background-color: white;
  width: 100%;
  padding-top: 10px;
  box-shadow: 0px 7px 51px -11px rgba(0, 0, 0, 0.55);
}

.chat-body {
  padding: 10px 0px;
  padding-top: 110px;
  background-image: url(../images/chatBg.png);
  min-height: 1000000vh;
}

.chat-body .status-bar,
.chat-body .header {
  padding: 0px 20px;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.chat .chat__timestamp {
  background-color: white;
  padding: 5px 10px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
}

.chat .chat__messages {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
}

.message .message__author {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}

.chat .chat__avatar {
  width: 30px;
  border-radius: 50%;
  margin: 0px 10px;
  align-self: flex-start;
  animation: avatar-spin 1s infinite;
  box-shadow: -1px 10px 21px 0px rgba(122, 122, 122, 0.68);
}

@keyframes avatar-spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.chat__incoming-message {
  align-self: flex-start;
  animation: incoming-message__Ani 0.5s ease-out forwards;
}

.chat__sent-message {
  align-self: flex-end;
  padding-left: 50px;
  margin-bottom: 20px;
  animation: sent-message__Ani 0.5s ease-out forwards;
}

@keyframes incoming-message__Ani {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes sent-message__Ani {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message .message__bubble {
  background-color: white;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: -1px 10px 21px 0px rgba(122, 122, 122, 0.68);
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.chat__incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #ec008c, #fc6767);
}

.chat__sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
}

.chat__write-container {
  position: fixed;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  padding: 20px 60px;
  border: none;
  font-size: 14px;
  transition: all 0.3s ease-in;
  animation: float 2s ease-in infinite forwards;
}

@keyframes float {
  0% {
    box-shadow: 0px 79px 91px -12px rgba(0, 0, 0, 0.75);
  }
  50% {
    box-shadow: 0px 55px 91px -1px rgba(0, 0, 0, 0.75);
  }
  100% {
    box-shadow: 0px 79px 91px -12px rgba(0, 0, 0, 0.75);
  }
}

.chat__write-left-icon {
  position: absolute;
  padding-left: 20px;
}

.chat__write-right-icon {
  position: absolute;
  right: 0px;
  padding-right: 20px;
}

.chat__write:focus {
  outline: none;
  transform: translateY(-60px);
  width: 80%;
  margin: 0 auto;
  border-radius: 40px;
}

.chat__write:focus ~ .chat__write-icon {
  opacity: 0;
}

.chat__write-icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}
